<template>
  <div class="flex">
    <div class="max-w-xs md:flex md:items-center mx-48 my-32">
      <div class="w-max bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <!-- Error on GET -->
        <div v-if="!allowRender" class="text-red-800">
          {{error}}
        </div>
        <!-- Render -->
        <div v-if="allowRender">
            <!-- User Image -->
            <img class="inset-y-0 left-0 w-48 px-2 py-8 pl-10"
            src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairBigHair&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Squint&eyebrowType=DefaultNatural&mouthType=Smile&skinColor=Light%27'>
            <div class="inset-y-0 right-0 px-2 py-2 w-max">
                <!-- Email -->
                <div>
                    <label class="border rounded shadow-md border-green-400 px-2 py-1">
                        E-mail: {{email}}
                    </label>
                </div>
                <!-- Username -->
                <div class="mt-5 mb-5">
                    <label class="border rounded shadow-md border-green-400 px-2 py-1">
                        Username: {{username}}
                    </label>
                </div> 
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
        email: '',
        username: '',
        error: '',
        allowRender: false
      }
  },

  beforeMount() {
      this.render();
  },
  
  methods: {
      // Função que define se os dados do usuário podem ser renderizados
      async render(){
        // Obtém o token de acesso, e, caso não exista, redireciona para a pagina
        // de criação de conta
        const userToken = this.$store.state.token;
        if(!userToken){
          setTimeout(()=>{this.$router.push('/sign-up')}, 1500);
          this.error = 'Missing access token. Redirecting to sign-up.';
          return;
        }
        try{
          // Obtém os dados do usuário, incluindo o token de acesso na requisição
          const user = await this.$axios.$get(`/600/users/2`, {
            headers: {'Authorization': `Bearer ${userToken}`}
          })
          this.email = user.email;
          this.username = user.username;
          this.allowRender = true;
        }catch(e){
          // Em caso de problemas no acesso do usuário, como ID inexistente
          // ou não correspondente, define o texto de erro a ser exibido
          this.error = e.response.data + '. Please, try again.';
          this.allowRender = false;
        }
      }
  },
}
</script>

<style>
  body{
    background-color: darkslategray;
  }
</style>
