<template>
  <div class="flex">
    <div class="w-1/4 max-w-xs md:flex md:items-center mx-48 my-32">
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <!-- E-mail -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            E-mail:
          </label>
          <input id="email" v-model="email" class="shadow appearance-none border rounded w-full
          py-2 px-3 focus:outline-none focus:shadow-outline"
          :class="{'border-red-700 bg-red-100':emailInvalid}"
          type="text" placeholder="E-mail">
        </div>
        <!-- Password -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Password:
          </label>
          <input id="password" v-model="password" class="shadow appearance-none border rounded w-full
          py-2 px-3 focus:outline-none focus:shadow-outline"
          :class="{'border-red-700 bg-red-100':passwordInvalid}"
          type="password" placeholder="Password">
        </div>
        <!-- Buttons -->
        <div class="pt-2">
          <!-- Clear -->
          <button class="bg-blue-500 text-white border rounded border-gray-400 px-5 py-2 hover:bg-blue-700"
          @click="clear">
            Clear
          </button>
          <!-- Sign-in -->
          <button class="bg-blue-500 text-white border rounded border-gray-400 ml-9 px-5 py-2 hover:bg-blue-700"
          @click="submit">
            Sign-in
          </button>
        </div>
        <!-- Redirect to sign-up -->
        <div class="flex items-center pt-4 text-xs">
          <p class="block text-gray-700 mb-2">
            Not an user yet?
          </p>
          <button class="block text-gray-700 font-bold text-blue-500 hover:text-blue-700 mb-2 pl-1"
          @click="signUp">
            Sign-up now!
          </button>
        </div>
        <div v-if="submitError" class="text-red-800">
          {{submitErrorText}}
        </div>
      </div>
    </div>
    <!-- Fields with error -->
    <div v-if="emailInvalid||passwordInvalid"
    class="w-1/4 mt-40 mb-96 -ml-40 mr-96 px-7 py-2 border rounded border-red-700 bg-red-100"
    :class="{'animate-pulse':submitInvalid}">
      <li v-for="error in fieldErrors" :key="error">
        {{error}}
      </li>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      email: '',
      password: '',
      fieldErrors: [],
      submitInvalid: false,
      submitError: false,
      submitErrorText: '',
    }
  },

  computed: {
    // Checa se o e-mail é inválido
    emailInvalid(){
      const regexp = /^([A-Za-z0-9_\-.])+@([A-Za-z0-9_\-.])+.([A-Za-z]{2,4})$/;
      // Testa se o campo está vazio
      if(this.email.length === 0){
        this.setText('E-mail required');
        this.removeText('Invalid e-mail');
        return true;
      }
      this.removeText('E-mail required');
      // Testa se o formato do texto inserido não corresponde a um e-mail
      if(!regexp.test(this.email)){
        this.setText('Invalid e-mail');
        return true;
      }
      this.removeText('Invalid e-mail');
      return false;
    },

    // Checa se a senha é inválida
    passwordInvalid(){
      // Testa se o campo está vazio
      if(this.password.length === 0){
        this.setText('Password required');
        this.removeText('Password must contain less than 32 characters');
        this.removeText('Password must contain at least 8 characters');
        this.removeText('Invalid password');
        return true;
      // Testa se a senha não atinge o tamanho mínimo
      }else if(this.password.length < 8){
        this.setText('Password must contain at least 8 characters');
        this.removeText('Password must contain less than 32 characters');
        this.removeText('Password required');
        this.removeText('Invalid password');
        return true;
      // Testa se a senha ultrapassa o tamanho máximo
      }else if(this.password.length > 32){
        this.setText('Password must contain less than 32 characters');
        this.removeText('Password must contain at least 8 characters');
        this.removeText('Password required');
        this.removeText('Invalid password');
        return true;
      }
      this.removeText('Password must contain less than 32 characters');
      this.removeText('Password must contain at least 8 characters');
      this.removeText('Password required');
      // Testa se a senha não satisfaz a condição de ser alfanumérico
      if(this.password.match("[^a-zA-Z0-9]")){
        this.setText('Invalid password');
        return true;
      }
      this.removeText('Invalid password');
      return false;
    }
  },

  methods: {
    // Função atrelada ao botão "Clear", que limpa o conteúdo dos campos
    clear(){
      this.email = '';
      this.password = '';
    },

    // Função atrelada ao botão "Sign-up", que realiza o login do usuário
    async submit(){
      // Checa se os requisitos dos campos não são satisfeitos.
      // Caso não o sejam, permite que a caixa de texto "pisque",
      // indicando ao usuário que há erros, e interrompe a função
      if(this.emailInvalid||this.passwordInvalid){
        this.submitInvalid = true;
        setTimeout(() => {this.submitInvalid = false}, 1750);
        return;
      }
      // Satisfeitos os requisitos dos campos, cria-se a instância
      // do usuário e o armazena na Vuex Store
      const user = {
        'email': this.email,
        'password': this.password,
        'user': '',
      };
      this.$store.commit('addUser', user);
      try{
        // Envia a instância do usuário ao back-end para verificação dos 
        // dados de acesso e armazena seu token de acesso na Vuex Store
        const response = await this.$axios.$post('/login', user);
        const token = response.accessToken;
        this.$store.commit('addToken', token);
        this.submitError = false;
        // A partir do token de acesso, obtém o ID gerado para
        // redirecionar à pagina do usuário
        const id = JSON.parse(atob(token.split('.')[1])).sub;
        this.$router.push(`/users/${id}`);
      }catch(e){
        // Em caso de erros, como usuário inexistente ou senha
        // não correspondente, exibe-se seu texto ao usuário
        this.submitError = true;
        this.submitErrorText = e.response.data + '. Please, try again.';
        return;
      }
      this.clear();
    },

    // Função atrelada ao botão "Sign-up now!",
    // que redireciona o para a página de criação de usuário
    signUp(){
      this.$router.push('/sign-up');
    },

    // Inclui textos sobre a validação dos campos
    setText(text){
      if(!this.fieldErrors.includes(text)){
        this.fieldErrors.push(text);
      }
    },

    // Retira textos sobre a validação dos campos
    removeText(text){
      const index = this.fieldErrors.indexOf(text);
      if(index !== -1){
        this.fieldErrors.splice(index, 1);
      }
    }

  },
}
</script>

<style>
  body{
    background-color: darkslategray;
  }
</style>